body {
  margin: 0px;
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  background-color: rgb(247, 4, 243);
  margin: 20px;
  border-radius: 15px;
  border: 5px solid rgba(248, 246, 250, 0.375);
}

img {
  display: none;
}
